html{
    padding: 0;
    margin: 0;
    color: rgb(252, 40, 40);
    background-color: rgba(0, 0, 0, 0.85);
}
body, div, header, h1, nav, ul, article, p, fieldset, button{
    border: 0;
    padding: 0;
    margin: 0;
 }
header{
    border-bottom: 8px solid rgb(172, 0, 0);
    border-right: 8px solid rgb(172, 0, 0);
}
header h1{
    position: fixed;
    left: calc(100% / 2 - 78.5px);/*width of h1 element*/
}
div.menuicon{
    float: left;
    padding-left: 1%;
}
div.bar1, div.bar2, div.bar3{
    width: 35px;
    height: 5px;
    background-color: rgb(172, 0, 0);
    margin: 6px 0;
}
header, nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.90);
}
nav{
    position: fixed;
    top: 50px;
    left: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

article{
    margin-top: 7.5%;
    margin-left: 15%;
    margin-right: 15%;
}
.navbar{
    float: left;
    border-right: 8px rgb(172, 0, 0);
    border-bottom: 8px rgb(172, 0, 0);
    border-left: 1px rgb(172, 0, 0);
    border-style: ridge;
    width: 12.5%;
}
ul, ul li, li a{
    margin: 0;
}
ul{
    list-style-type: none;
}
li a{
    padding-left: 10%;
    padding-right: 12.5%;
    border: 2px solid rgb(172, 0, 0);
    display: block;
    text-decoration: none;
    font-weight: 500;
}
li a:visited{
    color: rgb(172, 0, 0);
}
li a:hover{
    border-radius: 2em;
    font-style: italic;
    border: 3px solid rgb(172, 0, 0);
}
/* learned from w3 school*/
@keyframes mymove1{
    100% {-webkit-transform: rotate(-45deg) translate(-9px, 6px);}
    100% {transform: rotate(-45deg) translate(-9px, 6px) ;}
}
@keyframes mymove3{
    100% {-webkit-transform: rotate(45deg) translate(-8px, -8px);}
    100% {transform: rotate(45deg) translate(-8px, -8px) ;}
}
@keyframes mymoveback1{
    0% {-webkit-transform: rotate(-45deg) translate(-9px, 6px);}
    0% {transform: rotate(-45deg) translate(-9px, 6px) ;}
    100% {-webkit-transform: rotate(0deg) translate(9px, -6px);}
    100% {transform: rotate(0deg) translate(0px, 0px) ;}
}
@keyframes mymoveback3{
    0% {-webkit-transform: rotate(45deg) translate(-8px, -8px);}
    0% {transform: rotate(45deg) translate(-8px, -8px) ;}
    100% {-webkit-transform: rotate(0deg) translate(0px, 0px);}
    100% {transform: rotate(0deg) translate(0px, 0px) ;}
}
.change .bar1 {
    animation-name: mymove1;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    animation-name: mymove3;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}
.changeback .bar1{
    animation-name: mymoveback1;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}
.changeback .bar3{
    animation-name: mymoveback3;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}