.SUbutton{
    position: fixed;
    left: 92%;
    top: 1%;
    width: 80px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.80);
    color: rgb(252, 40, 40);
    border: 2px solid rgb(172, 0, 0);
}
.SUbutton:active{
    transform: translateY(4px) translateX(4px);
}
.SUbutton:hover{
    border: 3px solid rgb(172, 0, 0);
}
.hide{
    display: none;
}
.show{
    display: block;
}
fieldset{/*position*/
    position: relative;
    margin: auto auto;
    margin-top: 10%;
    display: block;
    left: calc(100% - width / 2);
    width: 20%;
    height: 15em;
    background-color: rgb(250, 175, 175);
}
fieldset{/*appearance*/
    border: 3px outset rgb(172, 0, 0);
}
fieldset form{
    padding: 5%;
    margin: 2%;
}
fieldset input{
    outline: none;
    margin-bottom: 1.5em;
    margin-top: 1.75em;
    border: 0.5px solid rgb(172, 0, 0);
}
fieldset input:hover{
    border: 2px solid rgb(172, 0, 0);
}
fieldset input:focus{
    border: 2px solid rgb(172, 0, 0);
}
fieldset h1{
    text-align: center;
    margin-top: 0%;
    border-bottom: 1px dotted rgb(172, 0, 0);
    font-weight: bold;
    font-size: 14pt;
}
#button{/*positioning*/
    width: 30%;
    padding: 3%;
    margin-left: 30%;
}
#button{/*appearance*/
    border: 2px solid rgb(172, 0, 0);
    background-color: red;
    color: white;
    box-shadow: 5px 5px red;
}
#button:active{
    box-shadow: 1px 1px red;
    transform: translateY(4px) translateX(4px);
}